configurations/morcore2esuites/xsd/TaakApiInt/ValidatePostTaakOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="_links">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="self">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element type="xs:string" name="href"/>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="melding">
                     <xs:complexType>
                      <xs:sequence>
                        <xs:element type="xs:string" name="href"/>
                      </xs:sequence>
                     </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="taakapplicatie"/>
              <xs:element type="xs:string" name="taakUrl"/>
              <xs:element type="xs:string" name="verstuurd"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="laatste_update_ontvangen"/>
              <xs:element type="xs:string" name="taaktype"/>
              <xs:element type="xs:string" name="titel"/>
              <xs:element type="xs:string" name="bericht"/>
              <xs:element name="additionele_informatie">
                <xs:complexType>
                 <xs:sequence>
                  <xs:element type="xs:string" name="veld"/>
                  <xs:element type="xs:string" name="waarde"/>
                 </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>